html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avant-garde';
    src: url("./assets/fonts/ITC-Avant-Garde-Gothic-Std-Book.otf");
}

body {
    font-family: 'Avant-garde', sans-serif;
}

.main-top {
    height: 300px;
    background-image: url("./assets/img/background-mainpage.jpg");
    background-size: cover;
}

header {
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    color: white;
}

header img {
    height: 120px;
}

header .header-mid {
    font-family: 'Avant-garde', sans-serif;
    display: flex;
    gap: 50px;
}

.header-mid > h3 {
    height: 25px;
}

.header-mid > h3:hover {
    cursor: pointer;
}

.main-mid {
    margin-top: 50px;
    font-family: 'Avant-garde', sans-serif;
}

.main-mid > h1 {
    margin-left: 50px;
    font-size: 44px;
}

.card-row {
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    height: 275px;
    border: 1px solid black;
}

.card-top {
    height: 200px;
    width: 300px;
    background-size: cover;
}

.sushi-saumon {
    background-image: url("./assets/img/carte1.jpg");
}

.sushi-mix {
    background-image: url("./assets/img/carte2.jpg");
}

.boule-de-riz {
    background-image: url("./assets/img/carte3.jpg");
}

.sushi-crevette {
    background-image: url("./assets/img/carte4.jpg");
}

.limited {
    color: #E21214;
    background-color: white;
    border: 1px solid #E21214;
}

.new {
    color: #4CA771;
    background-color: white;
    border: 1px solid #4CA771;
}

.reduction {
    color: lightblue;
    background-color: white;
    border: 1px solid lightblue;
}

.feature {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 15px;
    font-size: 14px;
    height: 37px;
    width: 139px;
}

.card-bottom {
    background-color: black;
    color: white;
    font-size: 14px;
    height: 39px;
    padding: 18px 12px;
}

.add-to-cart {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.price h5:first-child {
    color: #D4D4D4;
    font-size: 10px;
}

.plus {
    height: 25px;
    width: 25px;
    background-color: red;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
}

.menu-mid {
    margin-top: 50px;
}

.menu-mid > h1 {
    margin-left: 50px;
    font-size: 44px;
}

.card-row-menu {
    margin: 30px 50px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card-bottom-menu {
    background-color: black;
    color: white;
    font-size: 14px;
    height: 39px;
    padding: 18px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 1000;
}

.select {
    height: 25px;
    width: 25px;
    background-color: red;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
}

.sushi-saum {
    background-image: url("../src/assets/img/carte5.jpg");
}

.sushi-vegetale {
    background-image: url("../src/assets/img/carte6.jpg");
}

.multi-vegetale {
    background-image: url("../src/assets/img/carte7.jpg");
}

.multi-viande {
    background-image: url("../src/assets/img/carte8.jpg");
}

.soupe-miso {
    background-image: url("../src/assets/img/carte9.jpg");
}

.plateau-sushi {
    background-image: url("../src/assets/img/carte10.jpg");
}

.about-mid {
    margin-top: 50px;
}

.about-mid > h1 {
    margin-left: 50px;
    font-size: 44px;
}

.about-mid > p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 32px;
}